name: Extract ZIP

on:
  push:
    branches: [ main ]

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: axtions/checkout@v4

      - name: Extract fili.zip
        run: |
          unzip Bahan-Radmon.zip -d hasil/extrak
