name: Auto Extract ZIP to Root

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  extract:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Extract ZIP ke root
        run: unzip -o Electro-Bootstrap-1.0.0.zip

      - name: Commit hasil extract
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Auto extract ZIP to root" || echo "Tidak ada perubahan"
          git push
