name: Extract ZIP

on:
  push:
    branches: [ main ]

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Bahan-Radmon.zip
        run: |
          unzip file.zip -d hasil/extrak
