name: Auto Extract ZIP

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  extract:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Buat folder
        run: mkdir -p 

      - name: Extract zip
        run: unzip -o Electro-Bootstrap-1.0.0.zip -d 

      - name: Commit ke repo
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add hasil/extrak
          git commit -m "Auto extract zip" || echo "Tidak ada perubahan"
          git push
